<div class="container" role="main">
  
<h1>BBC Audio Drama Awards 2015</h1>
<h3>Audio uploader</h3>
<div class="row entry-master">
    
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Entry 1</h3>
      </div>
      <div class="panel-body">
        <form>
          
          <p>Select category:
            <select id="category" name="category">
              <option value="Category 1">Cat 1</option>
              <option value="Category 2">Cat 2</option>
            </select>
          </p>

          <p>Name of entrant (individual or company):
            <input id="entrant" name="entrant" placeholder="Name of entrant">
          </p>

          <p>Programme title:
            <input id="title" name="title" placeholder="Title of programme">
          </p>
        </form>

        <div class="panel-body" id="ada-uploader"></div>

      </div>

    </div>
</div>

<div class="row entry">


</div>

<div class="row">
  <button type="button" class="btn btn-success" id="add-entry"> + Add another entry</button>

</div>

  <button type="button" class="btn btn-lg btn-primary">Submit all entries</button>
</div>